.item {
  border: 1px solid red;
  display: table;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 500px;
  height: 200px;
  border-radius: 5px;
  background-color: white; }
  .item p {
    text-align: center; }

.itemHeader {
  border: 1px solid green;
  border-radius: 5px;
  text-align: center;
  background-color: lightGrey; }

.itemContent {
  background-color: lightGrey;
  border: 1px solid blue;
  margin: 10px;
  border-radius: 5px;
  height: 110px; }
